{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container-fluid mb-4 px-0">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static './img/food_delivery1.jpg' %}" class="d-block w-100" alt="food_delivery1">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Get delivery within 20 minutes</h5>
                    <p>Or get it for free.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="{% static './img/food_delivery2.jpg'%}" class="d-block w-100" alt="food_delivery2">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Get different worldwide cuisine</h5>
                    <p>Order Indian, Mexican, Thai or Japanese food.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static './img/food_delivery3.jpg' %}" class="d-block w-100" alt="food_delivery3">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Get delicious meal at affordable prices</h5>
                    <p>Contact us to avail major cashback discounts now.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<div class="container mb-3">
    <h2 class="text-center">Order our delicious meal now!!</h2>
    <div class="row">
        {%for dish in dishes%}
        <div class="card col-sm-4 m-2 px-0" style="width: 18rem;">
            <img src="{{dish.photo_dish.url}}" class="card-img-top" alt="pizza">
            <div class="card-body">
                <h5 class="card-title">{{dish.title}}</h5>
                <p class="card-text">{{dish.subtitle}}</p>
                <p class="card-text">Price: ₹{{dish.price}}</p>

                <a href="{{dish.food_link}}" target="_blank" class="btn btn-primary">Order Now!!</a>
            </div>
        </div>
        {%endfor%}



    </div>
</div>

<div class="container px-5">
    <h2 class="mb-3">Subscribe to our daily newsletter!!</h2>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Subscribe!!</button>
    </form>
</div>

{% endblock content %}