{% extends 'base.html' %}

{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to Django</h1>
    <h2>{{firstname}} {{lastname}}</h2>
    <h2>Class: {{class}}</h2>
    {% if is_pass%}
    <h2>Congratulations!! You are passed</h2>
    {%else%}
    <h2>Sorry, Better luck next time!!</h2>
    {%endif%}

    <h2>{{firstname}}'s Marks</h2>
    <ul>
        {%for mark in marks %}
        <li>{{mark}}</li>
        {%endfor%}
    </ul>
</body>

</html>

{%endblock%}