{% extends 'base.html' %}
{% load static %}

{% block content %}
   <!-- Hero  -->

   <div class="container my-5">
    <div class="p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-center mb-5">Veg Manchurian Recipe</h1>
            <div class="container text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ikg_8xquqiw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
</div>

<div class="container my-5">
    <div class="p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-center mb-5">Chillie Paneer</h1>
            <div class="container text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/P7ZGxWKJkX8"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock content %}